<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header::html"></head>
<body>
<div th:include="include/top::html"></div>
<div id="workArea">
    <article class="clearfix">
        <div class="left_list fl">
            <h1 class="t-h1">{{news.title}}</h1>
            <div class="article-data">
                <p><span>编辑：admin</span><span>来源：新浪财经</span><span>时间：{{news.newsTime | formatDateFilter('YYYY-MM-DD')}}</span></p>
            </div>
            <div class="article_content" v-html="news.content">
            </div>
            <div class="article_bottom">
                <div class="praise">
                    <p>10</p>
                </div>
            </div>
            <div class="articlepage clearfix">
                <a href="#" class="curPage">1</a>
                <a href="#">2</a>
            </div>
            <div class="keys clearfix">
                <a href="#" target="_blank">李开复</a>
                <a href="#" target="_blank">硅谷</a>
                <a href="#" target="_blank">人工智能</a>
                <a href="#" target="_blank">VR</a>
                <a href="#" target="_blank">谷歌</a>
            </div>
        </div>
        <div class="right_list fr">
            <div class="weekarticle">
                <h3>相关热议</h3>
                <div class="weekli" v-for="h in hotNews">
                    <a href="#" target="_blank">
                        <div class="weekimg">
                            <img :src="h.url"class="lazy" />
                        </div>
                    </a>
                    <a href="#" target="_blank" class="weeklititle">
                        {{h.title}}
                    </a>
                </div>
            </div>
        </div>
    </article>
    <div th:replace="include/footer::html" ></div>

</div>

</body>
<script>
    $(function () {
        const newsId = getUrlParms("newsId");
        const dataVue = {
            uri:'news',
            news:'',
            logsUri:'logs',
            hotNews:[],
            hotUri:'hot'
        };

        var vue = new Vue({
            el:'#workArea',
            data:dataVue,
            mounted:function () {
                this.load();
                this.addLogs();
                this.bestHotLoad();
            },
            methods:{
                load:function () {
                    const url = this.uri+"?newsId="+newsId;
                    axios.get(url).then(function (response) {
                        vue.news = response.data;
                    });
                },
                // addLogs:function () {
                //     const url = this.logsUri+"?newsId="+newsId;
                //     axios.post(url).then();
                // },
                hotLoad:function () {
                    const url = this.hotUri;
                    axios.get(url).then(function (response) {
                        vue.hotNews = response.data;
                    });
                }
            }
        });
    });
</script>
</html>
