<div th:fragment="html">
    <footer>
        <div class="footer-tag-list">
            <a href="#" target="_blank">关于我们</a>
            <a href="#" target="_blank">加入我们</a>
            <a href="#" target="_blank">合作伙伴</a>
            <a href="#" target="_blank">广告及服务</a>
        </div>
        <div class="statement">
            Copyright © <a href="http://www.qianduier.com/">钱堆网</a> - 北京xxxxxxx股份有限公司
            <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备12xxx2号-1</a>
        </div>
        <div class="footer-links">
            <a href="#" target="_blank">东方财富</a>
            <a href="#" target="_blank">新浪财经</a>
            <a href="#" target="_blank">证券之星</a>
            <a href="#" target="_blank">中金在线</a>
            <a href="#" target="_blank">中国证券网和讯财经</a>
            <a href="#" target="_blank">金融界</a>
            <a href="#" target="_blank">凤凰财经</a>
            <a href="#" target="_blank">搜狐财经</a>
            <a href="#" target="_blank">腾讯财经</a>
            <a href="#" target="_blank">网易财经</a>
            <a href="#" target="_blank">中财网</a>
            <a href="#" target="_blank">财经网</a>
            <a href="#" target="_blank">中国经济网</a>
        </div>
    </footer>
</div>