<header th:fragment="html">
    <div class="head clearfix">
        <div class="logo fl">
            <a href="http://www.qianduier.com/" title="钱堆网">
                <img src="static/images/logo.png" alt="钱堆网" /></a>
        </div>
        <nav>
            <a href="http://www.qianduier.com/">首页</a>
            <a href="http://www.qianduier.com/List/keji" target="_blank">科技</a>
            <a href="http://www.qianduier.com/List/zhineng" target="_blank">智能</a>
            <a href="http://www.qianduier.com/List/chuangye" target="_blank">创业</a>
            <a href="http://www.qianduier.com/List/dashuju" target="_blank">大数据</a>
        </nav>
        <div class="user fr">
            <a href="#" target="_blank">注册</a>
            <a href="#" target="_blank">登录</a>
        </div>
    </div>
</header>